$brand_red: #EB4420;
$brand_blue: #19837A;
$brand_purple: #802565;
$brand_green: #9ED52E;


body {
  background-color: $brand_purple;
}

h2 {
  color: $brand_red;
}

h3 {
  color: $brand_blue;
}

p {
  color: $brand_green;
}
